body, html {
  margin: 0;
  padding: 0;
  font-family: Gill Sans Extrabold, sans-serif;
  font-size: 15px;

}

body{
  background: #C3F7AF;
}

.Layout{
  &__header{
    margin: auto;
  }
  &__main{
    padding-top: 55px;
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    border: 1px transparent;
  }
  &__profile{
    box-sizing: content-box;
    border: 1px transparent;
  }
  &__calendar{
  }
}
